body{
    background-color:pink;
    font-family:sans-serif;
}

h1{
    color:darkmagenta;
    text-align:center;
}


#div{
    text-align:center;
}

#link{
    text-decoration: none;
    color:black;
}

.btn{
    margin:20px;
    width:70px;
    height:30px;
    background-color:rgb(250, 81, 165);
    cursor:pointer;

}

#btnNao{
    position:absolute;
    right:auto;
    bottom:auto;
}